$spacingS: 5px;

.center-content {
  margin: 0 auto;
}

.center-image {
  display: block;
  margin: 0 auto;
}

.row {
  margin-top: $spacingS
}

.availablePlot {
  color: rgb(34, 168, 34);
  font-weight: bold;
}